<h1>Members</h1>


    <% @entities.each do |entity| %>
    <div class= "container">
      <div class="name"><%= entity.name %></div>
      <div class="description"><%= entity.description %></div>
      <div class="twitter"><a href="https://twitter.com/<%= entity.twitter %>"><%= entity.twitter %></a></div>
    </div>
    <% end %>

    <br>
    <%= link_to "entity", new_entity_path %>
